
OliveiraTaylorProjectOOP/.vs/OliveiraTaylorProjectOOP/v17/.suo
OliveiraTaylorProjectOOP/.vs/OliveiraTaylorProjectOOP/v17/.suo
OliveiraTaylorProjectOOP/.vs/OliveiraTaylorProjectOOP/v17/.suo
OliveiraTaylorProjectOOP/.vs/OliveiraTaylorProjectOOP/v17/.suo
OliveiraTaylorProjectOOP/bin/Debug/OliveiraTaylorProjectOOP.exe
